<div>
    {{#each dbArticle}}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="{{this.link}}" target="_blank" class="btn btn-primary">Read</a>
            <a href="#" class="btn btn-primary">Save</a>
        </div>
    </div>
    {{/each}}
</div>