<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1 class="display-4">MONGO SCRAPER</h1>
        <p class="lead">A PLACE TO SAVE YOUR FAVORITE ARTICLES!</p>
    </div>
</div>
