<div class="container-fluid text-center overlay">
    <div class="col align-items-center">
        <div class="caption">
            <h1 class="display-4">MONGO SCRAPER</h1>
            <p class="lead">A PLACE TO SAVE YOUR FAVORITE ARTICLES!</p>
        </div>
    </div>
</div>