<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Saved Articles</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-danger">SCRAPE NEW ARTICLES!</button>
            </li>
            <li class="nav-item">
                <button class="btn btn btn-danger" type="submit">CLEAR ARTICLES!</button>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 class="display-4">MONGO SCRAPER</h1>
    <p class="lead">A PLACE TO SAVE YOUR FAVORITE ARTICLES!</p>
    <hr class="my-4">
</div>