<div class="container-fluid text-center logo">
    <div class="col align-items-center">
        <div class="caption">
            <h1 class="display-4"><span class="logo-span"><strong>MONGO SCRAPER</strong></span></h1>
            <p class="lead"><span class="logo-span">A PLACE TO SAVE YOUR FAVORITE ARTICLES!</span></p>
        </div>
    </div>
</div>