body {
    margin-top: 60px;
    margin-bottom: 60px;
    background: #ffffff url("../images/background.jpg") no-repeat;
    background-size: cover;
  }

  .logo {
    margin-top: 100px;
  }

  .logo-span {
    background: grey
  }

  li {
    list-style: none;
  }

  .modal-body .btn {
    float: right;
    padding: 2px 10px;
}

  .navbar {
    color: #ffffff;
  }

  .container-alert {
    margin-top: 200px;
  }

  .navbar-nav > li{
    padding: 0px 5px;
  }

.card {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
    margin: 20px auto;
    height: 500px;
  }

  .card-img-top {
    height: 200px;
  }

  .card-text {
    font-size: 12px;
  }

  .modal-backdrop {
    opacity: 0.9;
  }


  @media only screen and (max-width: 1000px) {
    .navbar-nav > li{
      padding: 5px 0px;
    }
}
  
  @media only screen and (max-width: 450px) {
    body {
      background: #ffffff url("../images/background_mobile.jpg") no-repeat;
    }
}
  