body {
    margin-top: 60px;
    margin-bottom: 60px;
    background: #ffffff url("../images/background.jpg") no-repeat;
    background-size: cover;
  }

  .navbar {
    color: #ffffff;
  }

.card {
    border-radius: 0;
    box-shadow: 3px 3px 20px lightslategrey;
    margin: 20px auto;
    height: 550px;
  }

  .card-img-top {
    height: 200px;
  }

  .modal-backdrop {
    opacity: 0.9;
  }
  
  